In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

In [2]:
df3100 = pd.read_csv('AlpentalBase_3100_feet_2019.csv')

In [3]:
df3100.head()

,Date/Time (PST),Battery Voltage (v),Temperature (deg F),Relative Humidity (%),"Precipitation ("")","Total Snow Depth ("")","24 Hour Snow ("")"
0,2019-12-31 23:00,13.15,40.61,98.7,0.09,21.51,0.450
1,2019-12-31 22:00,13.14,41.10,99.2,0.06,21.11,0.317
2,2019-12-31 21:00,13.14,41.10,100.0,0.16,21.31,0.450
3,2019-12-31 20:00,13.15,40.49,100.0,0.34,21.64,0.450
4,2019-12-31 19:00,13.15,37.69,99.4,0.21,24.44,0.450